$science_blue:#0047CB;
$gun_powder:#464555;
$white:#fff;
.details_page{
    .back_button{
        color: black;
        font-size: 30px;
    }
    h1,h2,h3,h4,h5,h6{
        color: rgba(33, 33, 33, 0.85);
    }
    h2{
        font-size: 16px;
    }
    & .link{
        color: $science_blue;
        text-decoration: none;
        font-weight: bolder;
    }
    @media screen and (min-width : 768px) {
        max-width: 66.66vw !important;
        margin: auto;
    }
    & ion-back-button{
        width: 50px;
        color: $gun_powder;
    }
    & .resume{
        & ion-avatar{
            background-color: #ccc;
        }
        & h1, & h2{
            margin-top: 5px;
        }
        & h1{
            font-size: 16px;
        }
        & h2{
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.0025em;
            color: rgba(33, 33, 33, 0.5);
        }
    }
    & .statistics{
        & ion-card{
            & ion-card-content{
                padding: 20px 0;
            }
            & ion-row:first-child{
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                letter-spacing: -0.03333em;
                color: #0047CB;
            }
            & ion-row:last-child{
                font-size: 12px;
                letter-spacing: 0.004em;
                color: rgba(33, 33, 33, 0.5);
            }
        }
    }
    & .navigation{
        & ion-segment-button{
            text-transform: none;
            height: 25px;
            font-size: 12px;
            &.segment-button-checked{
                --color-checked:#0047CB;
                color: $science_blue;
                font-weight: bold;
            }
        }
    }
    & .about_section{
        & .description{
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.005em;
            color: rgba(33, 33, 33, 0.6);
        }
        & h3{
            font-size: 16px;
            color: $gun_powder;
        }
        & .my_meetings{
            & ion-list{
                width: 100%;
                & ion-item {
                    & ion-col:nth-child(1){
                        border-radius: 5px;
                        color: $white;
                    }
                    & .meeting_details{
                        margin: 5px 11px;
                        box-shadow: 0px 5px 27px rgba(46, 170, 234, 0.1);
                        border-radius: 5px;
                        color: rgba(33, 33, 33, 0.85);;
                        & ion-col{
                            &:first-child{
                                font-size: 12px;
                                & ion-row:nth-child(1){
                                    letter-spacing: 0.05em;
                                }
                                & ion-row:nth-child(2){
                                    font-size: 30px;
                                    line-height: 36px;
                                }
                                & ion-row:nth-child(3){
                                    letter-spacing: 0.4em;
                                }
                            }
                            &:last-child, &:last-child ion-grid{
                                display: flex;
                            }
                            &:last-child ion-grid{
                                flex-direction: column;
                                font-size: 14px;
                                & ion-row:last-child{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    @mixin random-bgr(){
                        background: rgb(random(255), random(255), random(255));
                    }
                    @for $i from 1 to 500 {
                        &:nth-child(#{$i}){
                            & ion-col:nth-child(1) {
                                @include random-bgr();
                            }
                        }
                    }
                    // &:nth-child(1){
                    //     & ion-col:nth-child(1){
                    //         background-color: #FF3FB0;
                    //     }
                    // }
                    // &:nth-child(2){
                    //     & ion-col:nth-child(1){
                    //         background-color: #3FC08D;
                    //     }
                    // }
                    // &:nth-child(3){
                    //     & ion-col:nth-child(1){
                    //         background-color: #E89B26;
                    //     }
                    // }
                }
            }
            & .no_meeting{
                margin-top: 5px;
                background-color: #ECF1FF;
                & ion-row{
                    width: 85%;
                    margin: auto;
                }
                & h4{
                    color: rgba(33, 33, 33, 0.9);
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 1rem;
                }
                & .what_happen{
                    font-size: 12px;
                    color: rgba(33, 33, 33, 0.6);
                    letter-spacing: 0.004em;
                }
            }
        }
    }
    & .contacts{
        font-size: 14px;
        & ion-col{
            display: inherit;
            & a{
                color: inherit;
                text-decoration: none;
            }
        }
        & ion-avatar{
            background-color: #ECF1FF;
            display: flex;
            justify-content: center;
            & img{
                height: 20px;
                width: 20px;
            }
        }
    }
    & .notes{
        & ion-avatar{
            display: flex;
            color: $white;
            background-color: #0047CB;
        }
        & ion-card{
            box-shadow: none;
        }
        & .number_comment{
            font-size: 12px;
            letter-spacing: 0.004em;
        }
        & .rates{
            font-size: 9px;
            & ion-col:last-child {
                border-left: 2px solid #E9ECEF;
            }
            & ion-card, & ion-card-content, & ion-grid{
                height: 100%;
            }
            & ion-grid{
                display: flex;
                flex-direction: column;
            }
            & .star_rating{
                border: none !important;
                & ion-icon{
                    color: #FFCE31;
                    &.fill_none{
                        color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
            & .rate_label{
                font-size: 9px;
            }
            & .rate_percent{
                background: #E9ECEF;
                &, & ion-thumbnail{
                    height: 7px;
                    border-radius: 15px;
                }
                & ion-thumbnail{
                    background-color: #FFCE31;
                }
            }
        }
        & .rates, & .comments ion-row.description{
            border: 2px solid #E9ECEF;
            box-sizing: border-box;
            border-radius: 5px;
            line-height: 16px;
            letter-spacing: 0.005em;
        }
        & .comments{
            & h3{
                font-size:12px;
                margin: 15px 0;
            }
            & .description{
                & .comment_content{
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.004em;
                    color: rgba(33, 33, 33, 0.6);
                }
                & ion-row:last-child{
                    color:#537FFF;
                    font-size: 10px;
                }
            }
        }
    }
}
.reserve_meeting{
    width: 70vw;
    margin: auto;
    background-color: #0047CB;
    display: block;
    color: $white;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 10px 30px rgba(64, 113, 255, 0.1);
    & a{
        color: inherit;
        text-decoration: none;
        letter-spacing: 0.0125em;
        font-size: 14px;
    }
}

.limitTextHeight {
    height: 18px;
    overflow: hidden;
   
}

.buttonRead{
    background-color: white;
    color: #0047CB;
}