<ion-content *ngIf="doctor_data?.photo">
    <ion-grid>
        <ion-row>
            <ion-col class="details_page">
                <!-- Resume doctors informations -->
                <ion-icon name="arrow-back-outline" class="back_button ion-margin-vertical" (click)="returnHome()"></ion-icon>
                <ion-header class="ion-no-border resume">
                    <ion-grid>
                        <ion-row>
                            <ion-avatar>
                                <img [src]="doctor_data?.photo" title="Dr Ryan Mab" alt="" />
                            </ion-avatar>
                            <ion-grid>
                                <ion-row>
                                    <ion-text>
                                        <h1 class="ion-no-margin ion-text-nowrap" [innerHTML]="'Dr. '+doctor_data?.firstname+' '+doctor_data?.name"></h1>
                                    </ion-text>
                                </ion-row>
                                <ion-row>
                                    <ion-text>
                                        <h2 class="ion-no-margin text-primary" [innerHTML]="doctor_data?.domain.name"></h2>
                                    </ion-text>
                                </ion-row>
                            </ion-grid>
                        </ion-row>
                    </ion-grid>
                </ion-header>
                <!-- Statistics -->
                <ion-grid class="statistics">
                    <ion-row class="ion-justify-content-between">
                        <ion-col class="ion-no-margin">
                            <ion-card class="ion-no-margin ion-padding-horizontal">
                                <ion-card-content>
                                    <ion-grid>
                                        <ion-row class="ion-justify-content-center text-secondary">
                                            <ion-text [innerHTML]="doctor_data?.nbrConsult"></ion-text>
                                        </ion-row>
                                        <ion-row class="ion-justify-content-center text-primary">
                                            <ion-text>Patients</ion-text>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col class="ion-no-margin">
                            <ion-card class="ion-no-margin ion-padding-horizontal">
                                <ion-card-content>
                                    <ion-grid>
                                        <ion-row class="ion-justify-content-center text-secondary">
                                            <ion-text [innerHTML]="doctor_data?.experienceYears" *ngIf="doctor_data?.experienceYears"></ion-text>
                                            <ion-text *ngElse>-</ion-text>
                                        </ion-row>
                                        <ion-row class="ion-justify-content-center text-primary">
                                            <ion-text>Année d’expérience</ion-text>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <!-- Navigation -->
                <ion-toolbar mode="md" class="navigation ion-margin-bottom">
                    <ion-segment value="about" class="text-secondary">
                        <ion-segment-button value="about" (click)="showthis('about')">
                            A propos
                        </ion-segment-button>
                        <ion-segment-button value="contact" (click)="showthis('contact')">
                            Contact
                        </ion-segment-button>
                        <ion-segment-button value="rating" (click)="showthis('rating')">
                            Notes et avis
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
                <!-- About section -->
                <ion-grid class="about_section" *ngIf="show==='about'">
                    <ion-row class="description">
                        <ion-text class="ion-text-justify text-primary" [ngClass]="{'limitTextHeight': isReadMore}" [innerHTML]="doctor_data?.bibliographie"></ion-text>
                        <span type="button" (click)="showText()" class="buttonRead">
                            {{ isReadMore ? 'Read More': 'Read Less' }}
                        </span>
                    </ion-row>
                    <ion-row class="ion-margin-top">
                        <ion-grid>
                            <ion-row>
                                <ion-text>
                                    <h3 class="ion-no-margin text-secondary">Mes rendez-vous</h3>
                                </ion-text>
                            </ion-row>
                            <ion-row class="my_meetings">
                                <ion-grid class="no_meeting ion-padding" *ngIf="meetings.length===0">
                                    <ion-row class="ion-justify-content-center">
                                        <img src="../../assets/img/details/no_meeting.svg" alt="" title="Aucun rendez-vous ">
                                    </ion-row>
                                    <ion-row class="ion-justify-content-center ion-margin-bottom text-secondary">
                                        <ion-text>
                                            <h4 class="ion-no-margin">Aucun rendez-vous</h4>
                                        </ion-text>
                                    </ion-row>
                                    <ion-row class="ion-justify-content-center ion-margin-bottom text-primary">
                                        <ion-text class="what_happen ion-text-center ion-padding-bottom">
                                            Vous avez aucun rendez-vous programmé avec ce médecin
                                        </ion-text>
                                    </ion-row>
                                </ion-grid>
                                <ion-list class="ion-margin-vertical">
                                    <ion-item class="ion-no-margin ion-no-padding" lines="none" *ngFor="let meeting of meetings">
                                        <ion-grid class="meeting_details ion-no-padding">
                                            <ion-row>
                                                <ion-col size="2" class="text-secondary">
                                                    <ion-grid>
                                                        <ion-row class="ion-justify-content-center">
                                                            <ion-text [innerHTML]="meeting.day_letter"></ion-text>
                                                        </ion-row>
                                                        <ion-row class="ion-justify-content-center">
                                                            <ion-text [innerHTML]="meeting.day_number"></ion-text>
                                                        </ion-row>
                                                        <ion-row class="ion-justify-content-center">
                                                            <ion-text [innerHTML]="meeting.month"></ion-text>
                                                        </ion-row>
                                                    </ion-grid>
                                                </ion-col>
                                                <ion-col class="ion-margin-start">
                                                    <ion-grid class="ion-justify-content-around">
                                                        <ion-row class="text-secondary">
                                                            <ion-text [innerHTML]="meeting.type"></ion-text>
                                                        </ion-row>
                                                        <ion-row class="text-primary">
                                                            <ion-text [innerHTML]="meeting.hours"></ion-text>
                                                        </ion-row>
                                                    </ion-grid>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-item>
                                </ion-list>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                </ion-grid>
                <!-- Contact section -->
                <ion-grid *ngIf="show==='contact'" class="contacts text-secondary">
                    <ion-row>
                        <ion-grid>
                            <ion-row class="ion-align-items-center">
                                <ion-col>
                                    <ion-avatar class="ion-justify-content-center ion-align-items-center">
                                        <img src="../../assets/img/details/map.svg" title="Adresse" alt="Map" />
                                    </ion-avatar>
                                </ion-col>
                                <ion-col *ngIf="doctor_data?.city">
                                    <ion-text class="ion-margin-start" [innerHTML]="doctor_data?.city?.name+' - '+doctor_data?.city?.country"></ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                    <ion-row>
                        <ion-grid>
                            <ion-row class="ion-align-items-center">
                                <ion-col>
                                    <ion-avatar class="ion-justify-content-center ion-align-items-center">
                                        <img src="../../assets/img/details/tel.svg" title="Numéro de téléphone" alt="Téléphone" />
                                    </ion-avatar>
                                </ion-col>
                                <ion-col>
                                    <ion-text class="ion-margin-start" [innerHTML]="doctor_data?.phone"></ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                    <ion-row>
                        <ion-grid>
                            <ion-row class="ion-align-items-center">
                                <ion-col>
                                    <ion-avatar class="ion-justify-content-center ion-align-items-center">
                                        <img src="../../assets/img/details/mail.svg" title="Adresse email" alt="Maom" />
                                    </ion-avatar>
                                </ion-col>
                                <ion-col>
                                    <ion-text class="ion-margin-start" [innerHTML]="doctor_data?.email"></ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                    <ion-row>
                        <ion-grid>
                            <ion-row class="ion-align-items-center">
                                <ion-col>
                                    <ion-avatar class="ion-justify-content-center ion-align-items-center">
                                        <img src="../../assets/img/details/chu.svg" title="Lieu de travail" alt="Hopital" />
                                    </ion-avatar>
                                </ion-col>
                                <ion-col>
                                    <ion-text class="ion-margin-start" [innerHTML]="doctor_data?.office"></ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                </ion-grid>
                <!-- Notes et avis section -->
                <ion-grid *ngIf="show==='rating'" class="notes">
                    <ion-row class="ion-justify-content-between text-primary" class="rates">
                        <ion-col class="ion-no-margin ion-no-padding" size="6">
                            <ion-card class="ion-no-margin ion-no-padding">
                                <ion-card-content class="ion-no-padding ion-padding-vertical">
                                    <ion-grid class="ion-justify-content-between ion-no-padding">
                                        <ion-row class="ion-justify-content-center text-secondary ion-margin-bottom">
                                            <ion-avatar class="ion-justify-content-center ion-align-items-center">
                                                <ion-text [innerHTML]="rate"></ion-text>
                                            </ion-avatar>
                                        </ion-row>
                                        <ion-row class="ion-nowrap ion-justify-content-center">
                                            <ion-col *ngFor="let star of [1,2,3,4,5]" size="2" class="star_rating">
                                                <ion-icon *ngIf="(rate===star) || (rate>star)" name="star"></ion-icon>
                                                <ion-icon *ngIf="(star>rate) && (rate>(star-0.99))" name="star-half-outline"></ion-icon>
                                                <ion-icon *ngIf="(star>rate) && ((star-0.99)>rate)" name="star" class="fill_none"></ion-icon>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="ion-justify-content-center text-primary">
                                            <ion-text class="number_comment">50 Commentaires</ion-text>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col size="6" class="ion-no-margin ion-no-padding">
                            <ion-card class="ion-no-margin ion-padding-horizontal">
                                <ion-card-content class="ion-no-padding">
                                    <ion-grid>
                                        <ion-row class="ion-justify-content-center ion-align-items-center text-primary" *ngFor="let rate of rates">
                                            <ion-col size="1">
                                                <ion-text [innerHTML]="rate.label" class="rate_label"></ion-text>
                                            </ion-col>
                                            <ion-col class="ion-no-padding ion-margin-start rate_percent">
                                                <ion-thumbnail [style]="'width:'+rate.percent"></ion-thumbnail>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row class="comments">
                        <ion-grid>
                            <ion-row>
                                <ion-text>
                                    <h3 class="ion-no-margin">Commentaires</h3>
                                </ion-text>
                            </ion-row>
                            <ion-row *ngFor="let comment of comments" class="description ion-margin-bottom">
                                <ion-card class="ion-no-margin">
                                    <ion-card-content>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-text class="text-primary ion-text-justify comment_content" [innerHTML]="comment.content"></ion-text>
                                            </ion-row>
                                            <ion-row class="ion-margin-top">
                                                <ion-text class="text-secondary" [innerHTML]="comment.author"></ion-text>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-card-content>
                                </ion-card>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                </ion-grid>
                <ion-text (click)="appointment()" class="reserve_meeting ion-padding ion-text-center ion-margin">
                    Prendre rendez-vous
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- <ion-footer>
  <ion-text class="reserve_meeting ion-padding ion-text-center ion-margin">
    <a href="" class="text-secondary">Prendre rendez-vous</a>
  </ion-text>
</ion-footer> -->
