<ion-list>
  <ion-item>
    <ion-row class="doctoRow ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-start doctor_profile" size="3">
        <ion-avatar class="doctor_avatar ion-margin-end ion-align-items-center ion-justify-content-center">
          <img [src]="item.doctor.photo" alt="doctor picture"/>
        </ion-avatar>
      </ion-col>
      <ion-col size="7"> 
          <ion-text>Dr {{ item.doctor.firstname }} {{ item.doctor.name }}</ion-text>

      </ion-col>
      <ion-col size="1" >
        <ion-avatar class="videocam ion-justify-content-end ion-align-items-center ion-float-right">
          <ion-icon name="star" class="cam" color="warning"></ion-icon>
        </ion-avatar>
      </ion-col>        
      <ion-col size="1">
        <ion-text color="primary" [innerHTML]="item.doctor.noteMoyenne"></ion-text>
      </ion-col>
    </ion-row>    
  </ion-item>
</ion-list>

