.doctoRow{
  width:100%;
  margin-bottom:5px;
  margin-top: 5px;
  display:flex;
}


.videocam {
    display: flex;
  }
  
  .cam {
    width: 15px !important;
  }

  
  .main_container {
    @media screen and (min-width: 768px) {
      min-width: 66.66vw !important;
      
    }
  }
