
.back_button{
    color: #212121;
    font-size: 30px;
    margin: 10px;
}

h4{
    /* Généraliste */
    position: absolute;
    width: 126px;
    height: 0px;
    left: 84px;
    top: 123px;

     /* H4/SemiBold - 24 */
   
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
    /* identical to box height, or 0% */

    letter-spacing: -0.03333em;

    /* Basic color/Dark */

    color: #464555;
}

img{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

    width: 55.31px;
    height: 50.41px;
    left: 17px;
    top: 98px;

    background: rgba(46, 170, 234, 0.1);
    border-radius: 5px;

}

.doctor_profile{
    display: flex;
    & ion-avatar{
      width: 57px;
      height: 57px;
    }
}

.short_informations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & h2{
      letter-spacing: 0;
      font-size: 20px;
      color: #464555;
    }
    & ion-text{
      letter-spacing: 0.0025em;
      font-size: 14px;
    }
  }


h6{
    /* H6/Bold - 16 */

    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 0px;
/* identical to box height, or 0% */


/* Text color/Dark */

    color: #212121;
}

 

a{
    text-decoration: none;
}

.reserve_meeting{
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0047CB;
    display: block;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 10px 30px rgba(64, 113, 255, 0.1);
    & a{
        color: inherit;
        text-decoration: none;
        letter-spacing: 0.0125em;
        font-size: 14px;
    }

    
}


p{
    font-size: 14px;
    color: rgba(33, 33, 33, 0.6);
    text-align: justify;
    letter-spacing: 0.005em;
    margin: 15px;
}