<ion-content class="specialitspage">
  <ion-row class="ion-justify-content-center">
    <ion-col >
     
        <ion-icon name="arrow-back-outline" (click)="goToSpecilities()" class="back_button ion-margin-vertical"></ion-icon>
      

      <ion-grid>
        <ion-row>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-start doctor_profile" size="10">
                <ion-avatar class="ion-margin-end ion-align-items-center ion-justify-content-center">
                  <img [src]="doctors_list.icon" alt="doctor picture"/>
                </ion-avatar>
                <ion-text class="short_informations">
                  <h2 class="text-secondary ion-margin-top font_bold" [innerHTML]="doctors_list.name"></h2>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
      
      <p>
        <ion-row class="description"> 
          <ion-text class="ion-text-justify text-primary" [innerHTML]="doctors_list.description"></ion-text>&nbsp;
          <!-- <ion-text class="text-primary"><a href="" class="link">Lire plus</a></ion-text> -->
        </ion-row>
      </p>

      <ion-grid style="margin: 10px">
        <ion-row class="ion-align-items-center text-secondary">
            <ion-col size="9">
                <ion-text>
                    <h6>Les spécialistes du domaine</h6>
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text class="s_small text-secondary font_extrabold ion-float-right" (click)="goToAlldoctors()">
                    <a>Voir tout</a>
                </ion-text>
            </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngFor="let doctor of doctors_list.doctors"> 
        <app-doctors (click)="gotoDetails(doctor)" [item]="doctor" ></app-doctors>
      </div>

    </ion-col>  
  </ion-row>   
</ion-content>

<ion-footer>
  <!-- <a href="/details" class="text-secondary"> -->
    <ion-text class="reserve_meeting ion-padding ion-text-center ion-margin" (click)="gotoApointement()">
      Prendre rendez-vous
    </ion-text>
  <!-- </a> -->
</ion-footer>

