
<ion-content class="ion-text-center">
    <ion-grid>
        <ion-row class="ion-justify-content-end">
            <ion-col class="ion-justify-content-end" style="display: flex;">
                <ion-icon class="secondary" name="close-outline" size="large" (click)="quit()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <img src="../../../../assets/img/popup_success.svg" width="55" alt="pop_success" />
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <ion-text class="ion-padding-horizontal">
                    <h4 class="text-primary ion-text-wrap secondary" >
                        Votre mot de passe a été réinitialisé avec succes. Veillez vérifier votre adresse électronique.
                    </h4>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-button expand="block" fill="solid" size="large" class="text-secondary ion-no-padding ion-margin-bottom" (click)="quit()">
            <h4 style="color: white;" (click)="goToLogin()">ok</h4>
        </ion-button>

    </ion-grid>
</ion-content>
