<ion-content>
    <ion-grid>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="login"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>

        <ion-row class="ion-justify-content-center">
            <img src="assets/img/confirm.svg" alt="" width="auto" height="min" class="ion-margin-top" />
        </ion-row>
        <ion-text class="ion-text-center text-secondary primary-color">
            <h2>Confirmation</h2>
        </ion-text>
        <ion-row class="ion-justify-content-center ion-margin-horizontal">
            <ion-text class="ion-text-center medium pwdmsg">
                <p style="font-size: 14px;">Nous vous avons envoyé un code de confirmation dans votre email. Verifiez votre mail</p>
            </ion-text>
        </ion-row>

        <form [formGroup]="validationForm" name="validationForm" novalidate>
            <ion-row class="ion-align-items-center ion-margin-horizontal">
                <ion-input type="text" class=" inputStyle" placeholder="code de confirmation" formControlName="codeConfirm">
                    <ion-icon name="lock-closed-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.codeConfirm.errors" class="invalid-feedback">
                <div *ngIf="f.codeConfirm.errors.required" class="text-primary">
                    Aucun code n'a été saisi
                </div>
            </div>
            <ion-button size="large" expand="block" fill="solid" class="btn text-secondary" (click)="onSubmit()">
                <ion-spinner *ngIf="loading.getValue()" ng-hide="showing" class="spinner-energized"></ion-spinner>
                <h4 style="color: white">CONFIRMER</h4>
            </ion-button>
        </form>
        
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top text-secondary ">
            <h6>
                <ion-text class="medium text-primary signup">Je n'ai recu aucun code de confirmation !</ion-text>
                <ion-text class="primary-color text-secondary ion-wrap" (click)="resendconfirmation()">
                    Renvoyer
                </ion-text>
            </h6>
        </ion-row>
    </ion-grid>
</ion-footer>
