<ion-row>
  <ion-col>
    <img [src] = "item.images" src="" alt="" style="height: 50px;">
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-label [innerHTML] = "item.title" style="font-size: 12px;"></ion-label>
  </ion-col>
</ion-row>