ion-content{
    --background: rgba(0, 0, 0, 0.278588);
}

.container-modal{
    background-color: white;
    color: rgba(33, 33, 33, 0.9); 

    & .title{
        padding-left: 18px;
    }

    & .removePhoto{
        height: 45px;
        width: 45px;
        background-color: #e74d33;
        border-radius: 22px;
        margin: 0 auto;
    }

    & .icon{
        padding-top: 10px;
        font-size: 24px;
        color: white;
    }

    & .galleryPhoto{
        height: 45px;
        width: 45px;
        background-color: #0047CB;
        border-radius: 22px;
        margin: 0 auto;
    }
    & .cameraPhoto{
        height: 45px;
        width: 45px;
        background-color: #92c45a;
        border-radius: 22px;
        margin: 0 auto;
    }
}

