<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-grid>
      <ion-row class="ion-margin-top">
              <ion-back-button defaultHref="tabs/setting"></ion-back-button>
        <ion-col class="ion-margin-end ion-padding-top ion-text-end">
          <img src="../../../assets/img/vector-profil.svg" alt="editer" *ngIf="!switch" (click)="update()" />
          <!-- <img src="../../../assets/img/vector-profil.svg" alt="save" *ngIf="switch" (click)="onSubmit()" /> -->
          <ion-icon class="icon" *ngIf="switch" (click)="onSubmit()" name="save-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top profil">
    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <div class="div-avatar">
          <ion-avatar [ngStyle]="{'background-image': 'url(' + photo + ')'}" class="avatar-profil">
            <!-- <img src="../../../assets/img/setting-profil.svg" alt="avatar" /> -->
          </ion-avatar>
          <ion-avatar (click)="openOptionSelection()" class="card-profil">
            <ion-icon color="light" class="" name="camera-outline"></ion-icon>
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form class="margin" [formGroup]="profilForm" name="profilForm" novalidate>
    <ion-grid class="form">
      <div class="ion-margin-vertical ion-margin-horizontal">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary">Prénoms et Nom</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-input class="border text-secondary" formControlName="firstname" [readonly]="readonly"
                placeholder="Prénom" type="text"></ion-input>
              <ion-input class=" text-secondary" formControlName="lastname" [readonly]="readonly" placeholder="Nom"
                type="text"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="submit.getValue() && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">Le prenom est obligatoire</div>
        </div>
        <div *ngIf="submit.getValue() && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.lastname.errors.required">Le nom est obligatoire</div>
        </div>
        <ion-grid *ngIf="!status.getValue()">
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary ">Date de naissance</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-datetime displayFormat="DD/MM/YYYY" [readonly]="readonly" placeholder="Date de naissance"
                formControlName="birthdate" class="text-secondary"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="!status.getValue() && submit.getValue() && f.birthdate.errors" class="invalid-feedback">
          <div *ngIf="f.birthdate.errors.required">La date de naissance est obligatoire</div>
        </div>
        <ion-grid *ngIf="!status.getValue()">
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary ">Sexe</ion-label>
            </ion-col>
          </ion-row>
          <ion-radio-group formControlName="sexe" mode="md">
            <ion-row class="ion-justify-content-between">
              <ion-col class="div-border ion-padding ion-margin-end">
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-radio color="primary" value="MASCULIN"></ion-radio>
                    <h6 class="ion-margin-start">Homme</h6>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col class="div-border ion-padding">
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-radio color="primary" value="FEMININ"></ion-radio>
                    <h6 class="ion-margin-start">Femme</h6>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary">E-mail</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-input class=" text-secondary" [readonly]="readonly" formControlName="email" type="email"
                placeholder="marvine@exemple.com">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="submit.getValue() && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">L' adresse e-mail est obligatoire</div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary">Téléphone</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-input class=" text-secondary" [readonly]="readonly" formControlName="phone" type="text"
                placeholder="+229 55432457">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="submit.getValue() && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Le numéro de téléphone est obligatoire</div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary">Pays</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal ng-autocomplete">
              <ng-autocomplete [data]="countries" [searchKeyword]="search" placeholder="Entrer votre pays"
                [initialValue]="city?.country?.name" [readOnly]="readonly" historyHeading="Récemment sélectionné"
                (selected)='selectCountryEvent($event)' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="countries" [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div>Non trouvé</div>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary">Ville</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal ng-autocomplete">
              <ng-autocomplete [data]="cities" [searchKeyword]="search" placeholder="Entrer votre ville"
                [initialValue]="city?.name" [readOnly]="readonly" historyHeading="Récemment sélectionné"
                (selected)='selectCityEvent($event)' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="cities" [itemTemplate]="cityTemplate"
                [notFoundTemplate]="notFoundCityTemplate">
              </ng-autocomplete>

              <ng-template #cityTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundCityTemplate let-notFound>
                <div>Non trouvé</div>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="status.getValue()">
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary ">Spécialité</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <!-- <ion-input class=" text-secondary" [readonly]="readonly" formControlName="fonction" placeholder="Fonction" type="text"> -->
              <ion-input #input placeholder="Spécialité" [readonly]="readonly" class="text-primary"
                formControlName="fonction" type="text"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list class="activity-list" [hidden]="activities.length <= 0">
          <ion-item (click)="selected(item)" *ngFor="let item of activities">
            {{item.name}}
          </ion-item>
        </ion-list>
        <div *ngIf="status.getValue() && submit.getValue() && f.fonction.errors" class="invalid-feedback">
          <div *ngIf="f.fonction.errors.required">La specialité est obligatoire</div>
        </div>
        <ion-grid *ngIf="status.getValue()">
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary ">Adresse</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-input class=" text-secondary" [readonly]="readonly" formControlName="adresse" placeholder="Adresse"
                type="text">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!status.getValue()">
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary ">Groupe Sanguin</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-select class=" text-secondary" formControlName="groupeSanguin"
                placeholder="Sélectionner votre groupe sanguin" okText="OK" cancelText="Quitter">
                <ion-select-option value="A_PLUS">A+</ion-select-option>
                <ion-select-option value="B_PLUS">B+</ion-select-option>
                <ion-select-option value="AB_PLUS">AB+</ion-select-option>
                <ion-select-option value="O_PLUS">O+</ion-select-option>
                <ion-select-option value="A_MOINS">A-</ion-select-option>
                <ion-select-option value="B_MOINS">B-</ion-select-option>
                <ion-select-option value="AB_MOINS">AB-</ion-select-option>
                <ion-select-option value="O_MOINS">0-</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="status.getValue()">
          <ion-row>
            <ion-col>
              <ion-label class="text-secondary ">Office</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="div-border ion-padding-horizontal">
              <ion-input class=" text-secondary" [readonly]="readonly" formControlName="office" placeholder="bureau"
                type="text"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-grid>
  </form>
  <div *ngIf="error.getValue() && !submit.getValue() " class="invalid-feedback ">
    {{error.getValue()}}
  </div>
</ion-content>