
.header{
    & ion-back-button{
        color: rgba(33, 33, 33, 0.9);
    }
    & .icon{
        width: 20px;
        height: 20px;
        color: rgba(33, 33, 33, 0.9);
    }
}

.profil{
    & .div-avatar{
        width: 150px;
        height: 150px;
    }
    & .avatar-profil{
        position: absolute;
        width: 150px;
        height: 150px;
        background-size: 150px 150px;
        border: 8px solid #FFFFFF;
        box-sizing: border-box;
        filter: drop-shadow(0px 5px 27px rgba(46, 170, 234, 0.1));
    }

    & .card-profil{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 109px;
        margin-left: 102px;
        background: #0047CB;
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
    }

    & ion-icon{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 9px;
        left: 9px;
    }
}

.margin{
    margin-top: 6px;
}
.form{
    ion-label{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1px;
        color: #9098B1;
    }
    & .div-border{
        background: #FFFFFF;
        border: 1px solid #EBF0FF;
        box-sizing: border-box;
        border-radius: 5px 5px 0px 0px;
    }

    ion-input{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 0px;
        color: rgba(33, 33, 33, 0.9);
        &.border{
            border-bottom: 1px solid #EBF0FF;
        }  
    }

    .activity-list {
        position: absolute;
        height: 11rem;
        overflow: scroll;
        z-index: 50;
        width: 100%;
    }

    ion-datetime{
        font-size: 16px;
        color: rgba(33, 33, 33, 0.9); 
    }
    ion-select{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: rgba(33, 33, 33, 0.9); 
    }

}

.ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
    padding: 3px 0px;
}