$science_blue:#0047CB;
.navigation{
    & ion-segment-button{
        text-transform: none;
        font-size: 12px;
        &.segment-button-checked{
            --color-checked:#0047CB;
            color: $science_blue;
            font-weight: bold;
        }
    }
}
.taking{
    font-size: 12px;
    text-decoration: #0047CB;
}
.noMeetings{
    margin-top: 50vw;
}