<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-row class="ion-margin-top">
          <ion-col size="10">
            <h4 class="text-secondary ion-text-left secondary ion-margin-top">
              <ion-text>Mes rendez-vous</ion-text>
            </h4>
          </ion-col>
          <ion-col size="2">
            <ion-icon
              name="add-circle-outline"
              (click)="takeNewConsultation()"
              class="ion-margin-horizontal"
              size="large"
            ></ion-icon>
          </ion-col>
        </ion-row>
        <ion-toolbar class="text-secondary navigation">
          <ion-segment value="next" mode="ios"  (ionChange)="segmentChanged($event)">
            <ion-segment-button value="next" (click)="showNext()"
              >Prochain</ion-segment-button
            >
            <ion-segment-button value="completed" (click)="showComplete()"
              >Terminé</ion-segment-button
            >
            <ion-segment-button value="cancelled" (click)="cancelled()"
              >Annulé</ion-segment-button
            >
          </ion-segment>
        </ion-toolbar>
        <div>
            <div *ngFor="let item of listFiltre"  >
              <app-consultations [item]="item"></app-consultations>
            </div>
        </div>
        <div  *ngIf="show" class="noMeetings">
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <h4>
              <ion-text class="medium text-primary">Aucun rendez-vous</ion-text> <br>
              <ion-text
                class="primary-color text-secondary taking"
                (click)="takeNewConsultation()"
                routerLinkActive="router-link-active"
                >&nbsp;Prendre rendez-vous</ion-text
              >
            </h4>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
