<ion-row class="medecins_popular">
  <ion-item class="" lines="none">
    <ion-thumbnail slot="start">
      <img [src]="item?.photo" alt="" />
    </ion-thumbnail>
    <ion-grid>
      <ion-row>
        <ion-text>
          <h3 class="ion-no-margin"> Dr</h3>
        </ion-text>&nbsp;
        <ion-text>
          <h3 class="ion-no-margin" [innerHTML]="item?.firstname + '&nbsp;'"></h3>
        </ion-text>
        <ion-text>
          <h3 class="ion-no-margin" [innerHTML]="item?.name"></h3>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text class="s_small text-primary" [innerHTML]="item?.domain?.name"></ion-text>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-icon name="star"></ion-icon>
        <ion-text class="xs_small text-primary" [innerHTML]="'&nbsp;'+item?.noteMoyenne + '&nbsp;&nbsp;.&nbsp;&nbsp;'+item?.nbrComments +
        '&nbsp;commentaires'">
        </ion-text>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-row>