h1,h2,h3,h4,h5,h6{
    color: rgba(33, 33, 33, 0.85);
}
.medecins_popular{
     & ion-item{
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 5px;
        width: 100%;
        color: rgba(33, 33, 33, 0.85);
        & h3{
            font-size: 16px;
        }
        & ion-icon{
            color: #FFCE31;
        }
        & ion-row{
            margin-bottom: 4px;
        }
        & ion-thumbnail{
            height: 63px;
            width: 63px;
        }
    }
}