h1,h2,h3,h4,h5,h6{
    color: rgba(33, 33, 33, 0.85);
}
h4{
    font-size: 24px !important;
    letter-spacing: -0.03333em;
}
.top {
    margin-top: -22px;
}

ion-searchbar{
    --background: rgba(52, 185, 252, 0.1);
    background-color: rgba(46, 170, 234, 0.1);
    padding:2px;
    & .search_icon{
      position: absolute;
      margin:-5px 0 0 10px;
    }
}

ion-slide{
  width: 99px;
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}


