<ion-content class="homepage">
  <ion-grid >
    <ion-row class="">
      <ion-back-button text="" defaultHref="tabs/home"></ion-back-button>
    </ion-row>
    <ion-row class="top ion-margin-horizontal">
      <ion-text>
        <h4>Tous les médecins</h4>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-searchbar  [(ngModel)] = "searchTerm"
       animated class="search_bar ion-margin-horizontal text-primary" placeholder="Rechercher un médecin" (click)="selectEvent()">
        <img src="../../assets/img/home/search.svg" alt="" class="search_icon" title="Rechercher un médecin" />
        <img src="../../assets/img/add.svg" style="position: absolute;left: 79vw;" alt="" class="icon-add" *ngIf="!status" />
      </ion-searchbar>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="status">
    <ion-row class="ion-justify-content-between">
    <ion-slides mode="md" pager="false" [options]="slideOpts" class="">
      <ion-slide *ngFor="let item of item_all; index as i">
        <app-filters-doctors [item]="item" [selected]="selected" (click)="allDoctors(item,i)"></app-filters-doctors>
      </ion-slide>
      <ion-slide *ngFor="let activities of item_activities; index as i" class=""> 
        <app-filters-doctors [item]="activities" [selected]="selected" (click)="getItemTitle(activities,i)"></app-filters-doctors>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <div *ngFor="let user of listflter | filter:searchTerm" class="ion-margin-top">
      <app-doctors [item]="user" (click)="gotoDetails(user)"></app-doctors> 
    </div>
  </ion-grid>
</ion-content>