<ion-content class="ion-text-center">
  <ion-list class="setting">
      <ion-item class="ion-margin-end">
          <ion-text>
              <h4>Paramètres</h4>
          </ion-text>
      </ion-item>
      <ion-item class="ion-margin-end">
          <ion-grid class="ion-margin-vertical">
              <ion-row>
                  <ion-avatar>
                    <img src="../../../assets/img/setting-profil.svg" alt="profil user">
                  </ion-avatar>
                  <ion-grid class="ion-no-padding ion-padding-start">
                    <ion-row>
                      <ion-col>
                        <ion-text class="text-primary font">
                           Bienvenue
                        </ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-margin-top">
                      <ion-col>
                        <ion-text class="text-primary title">
                          {{firstname}} {{lastname}}
                        </ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row class="ion-nowrap">
                  <ion-icon class="ion-margin-horizontal icon" size="large" name="person-outline"></ion-icon>

                  <ion-text (click)="goToProfil()" class="ion-margin-start font_bold">
                      <h5 class="text-primary">Profil</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item>
      <!-- <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row class="ion-nowrap">
                  <ion-icon class="ion-margin-horizontal icon" size="large" name="card-outline"></ion-icon>

                  <ion-text class="ion-margin-start font_bold">
                      <h5 class="text-primary">Mode de paiements</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item> -->
      <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row class="ion-nowrap">
                  <ion-icon class="ion-margin-horizontal icon" size="large" name="lock-closed-outline"></ion-icon>

                  <ion-text class="ion-text-wrap ion-margin-start font_bold">
                      <h5 class="text-primary" (click)= "goToNewpwd()" >Modification du mot de passe</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item>
      <!-- <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row class="ion-nowrap">
                  <ion-icon class="ion-margin-horizontal icon" size="large" name="language-outline"></ion-icon>

                  <ion-text class="ion-margin-start font_bold">
                      <h5 class="text-primary">Langues</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item> -->
      <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row>
                  <ion-icon class="ion-margin-horizontal icon" size="large" name="help-circle-outline"></ion-icon>

                  <ion-text class="ion-margin-start font_bold">
                      <h5 class="text-primary">Aide</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row class="ion-nowrap">
                  <img class="ion-margin-horizontal icon" src="../../../assets/img/flat-color-icons_about.svg" alt="about">
                  <!-- <ion-icon class="ion-margin-horizontal icon" size="large" name="information-circle-outline"></ion-icon> -->

                  <ion-text class="ion-margin-start font_bold">
                      <h5 class="text-primary">A propos</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item class="ion-margin-end">
          <ion-grid>
              <ion-row class="ion-nowrap">
                  <ion-icon class="ion-margin-horizontal icon" size="large" name="power-outline"></ion-icon>
                  <ion-text class="ion-margin-start font_bold" (click)="deconnect()">
                      <h5 class="text-primary">Se déconnecter</h5>
                  </ion-text>    
              </ion-row>
          </ion-grid>
      </ion-item>
  </ion-list>
</ion-content>
