
.setting {
    & h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 0px;
        letter-spacing: -0.03333em;
        color: #242e3f;
    }
    & h5{
        font-size: 16px !important;
    }
    & ion-avatar{
        width: 75px;
        height: 75px;
    }
    & .font{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.005em;
        color: rgba(77, 71, 71, 0.5);
    }
    & .title{
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: -0.03333em;
        color: #464555;
    }
    & .font_bold{
        letter-spacing: 0.005em;
        color: rgba(33, 33, 33, 0.5);
    }
    & ion-item .icon {
        margin-top: 7px;
    }

}