<ion-content>
  <ion-grid>
    <ion-row
      class="ion-justify-content-center ion-margin"
      style="margin-top: 15px"
    >
      <img src="assets/img/Asset 3.svg" alt="" width="100" height="100" />
    </ion-row>
    <ion-text class="ion-text-center text-secondary primary-color">
      <h2>Connexion</h2>
    </ion-text>
    <ion-text class="ion-text-center medium">
      <p>Connectez-vous pour continuer</p>
    </ion-text>
    <form [formGroup]="loginForm" name="loginForm" novalidate class="ion-padding">
      <ion-row class="ion-align-items-center ion-margin-horizontal">
        <ion-input
          type="text"
          class="inputStyle text-primary"
          placeholder="Votre email"
          formControlName="email"
        >
          <ion-icon
            name="mail-outline"
            size="default"
            fill="clear"
            class="ion-margin"
            color="primary"
            style="width: large; height: 1.5rem"
          ></ion-icon>
        </ion-input>
      </ion-row>
      <div *ngIf="submit.getValue() && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          L'adresse email est obligatoire
        </div>
      </div>
      <ion-row
        class="ion-align-items-center ion-margin-top ion-margin-horizontal"
      >
        <ion-input
          type="password"
          class="inputStyle text-primary"
          placeholder="Mot de passe"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submit.getValue() && f.password.errors }"
        >
          <ion-icon
            name="lock-closed-outline"
            style="width: large; height: 1.5rem"
            fill="clear"
            class="ion-margin"
            color="primary"
          ></ion-icon>
        </ion-input>
      </ion-row>
      <div
        *ngIf="submit.getValue() && f.password.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.password.errors.required" class="text-primary">
          Oups ! Votre mot de passe est invalide
        </div>
      </div>
      <div
        *ngIf="error.getValue() && !submit.getValue() "
        class="invalid-feedback"
      >
        {{error.getValue()}}
      </div>
      <ion-button
        size="large"
        expand="block"
        fill="solid"
        class="btn text-secondary ion-margin"
        (click)="onSubmit()"
      >
  
        <ion-spinner
          *ngIf="loading.getValue()"
          ng-hide="showing"
          class="spinner-energized"
        ></ion-spinner>
        <h4 style="color: white">SE CONNECTER</h4>
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-grid class="ion-margin-top">
        <ion-row
          class="ion-justify-content-center ion-align-items-center"
        >
          <h6>
            <ion-text
              class="primary-color text-secondary"
              (click)="goToForgetPwd()"
            >
              Mot de passe oublié ?
            </ion-text>
          </h6>
        </ion-row>
        <ion-row
          class="ion-justify-content-center ion-align-items-center"
        >
          <h6>
            <ion-text class="medium text-primary signup"
              >Vous n'avez pas de compte ?</ion-text
            >
            <ion-text
              class="primary-color text-secondary"
              (click)="goToRegister()"
              routerLinkActive="router-link-active"
              >&nbsp;Inscrivez-vous</ion-text
            >
          </h6>
        </ion-row>
      </ion-grid>
</ion-footer>