
.invalid-feedback {
    font-size: 12px;
    text-align: left;
    color: #F44336;
    margin-left: 34px;
    margin-top: 5px;
}
ion-input{
    --placeholder-font-style:italic;
    --placeholder-font-weight:300;
    --font-weight: 500;
}
.signup{
    font-weight: 300;
}
.signup{
    font-weight: 300;
  }
