@import "../../../global.scss";
body {
  background: #e5e5e5;
}

.font_weight_bold {
  font-weight: bold;
}

.default_link {
  text-decoration: none;
}

.main_container {
  @media screen and (min-width: 768px) {
    max-width: 66.66vw !important;
  }
  @media screen and (max-width: 768px) {
    max-width: 80vw !important;
  }
}

h1 {
  font-size: 36px;
}

ion-toolbar {
  width: 200px;
  margin: auto;
  height: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  & ion-segment-button {
    height: 31.5px;
  }
}

.form ion-item {
  border: 1px solid #ebf0ff;
  box-sizing: border-box;
  border-radius: 5px;
}

.confidential
  ion-row.ion-justify-content-center.ion-align-items-center.ios.hydrated {
  flex-wrap: nowrap !important;
  & ion-checkbox {
    & svg {
      min-width: 18px;
      min-height: 18px;
    }
  }
}

.invalid-feedback {
  font-size: 12px;
  text-align: left;
  color: #f44336;
}

.activity-list {
  position: absolute;
  height: 11rem;
  overflow: scroll;
  z-index: 50;
  width: 100%;
}
ion-input{
  --placeholder-font-style:italic;
  --placeholder-font-weight:300;
  --font-weight: 500;  
}
.signup{
  font-weight: 300;
}
ion-datetime{
  font-style: italic;
  font-weight: lighter;
}
.checkmark{
  color: green;
  order: 1;
  
}
.specialitiesStyle{
  width: 93%;
}

