<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-row class="ion-justify-content-center ion-margin" style="margin-top: 15px">
                    <img src="assets/img/Asset 3.svg" alt="Logo" width="100" height="100" class="ion-margin-top" />
                </ion-row>

                <ion-text color="primary">
                    <h2 class="text-secondary ion-text-center primary-color">
                        Inscription
                    </h2>
                </ion-text>
                <ion-text>
                    <p class="text-primary ion-text-center medium">
                        Inscrivez-vous pour continuer
                    </p>
                </ion-text>
                <ion-toolbar class="text-secondary">
                    <ion-segment value="patient" mode="ios">
                        <ion-segment-button value="patient" (click)="switch()">Patient</ion-segment-button>
                        <ion-segment-button value="doctor" (click)="switch()">Médécin</ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </ion-col>
        </ion-row>

        <form [formGroup]="registerForm" name="registerForm" novalidate class="ion-padding">
            <!-- Name input -->
            <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-input type="text" class="inputStyle text-primary" placeholder="Nom" formControlName="lastname" [ngClass]="{ 'is-invalid': submit.getValue() && f.lastname.errors }">
                    <ion-icon name="person-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">Le nom est obligatoire</div>
            </div>

            <!-- FirstName input -->
            <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-input type="text" class="inputStyle text-primary" placeholder="Prénom" formControlName="firstname" [ngClass]="{ 'is-invalid': submit.getValue() && f.firstname.errors }">
                    <ion-icon name="person-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.firstname.errors" class="invalid-feedback">
                <div *ngIf="f.firstname.errors.required">Le prénom est obligatoire</div>
            </div>

            <!-- Email input -->

            <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-input type="text" class="inputStyle text-primary" placeholder="Votre email" formControlName="email" [ngClass]="{ 'is-invalid': submit.getValue() && f.email.errors }">
                    <ion-icon name="mail-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                    L'adresse email est obligatoire
                </div>
            </div>
            <!-- Phone input -->
            <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-input class="inputStyle text-primary" placeholder="Votre numéro" formControlName="phone" type="number" [ngClass]="{ 'is-invalid': submit.getValue() && f.phone.errors }">
                    <ion-icon name="call-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">
                    Le numéro de téléphone est obligatoire
                </div>
            </div>

            <!-- Doctor spéciality input -->

            <ion-row *ngIf="status.getValue()" class="ion-align-items-center ion-margin-bottom inputStyle">
                <ion-input type="text" class="inputStyle text-primary" #input placeholder="Spécialité" class="text-primary" [ngModel]="speciality" formControlName="activity" (ionInput)="inputChanged()" [ngClass]="{ 'is-invalid': submit.getValue() && f.activity.errors }">
                    <ion-icon name="briefcase-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-list class="activity-list inputStyle specialitiesStyle" [hidden]="activities.length <= 0">
                    <ion-item *ngFor="let item of activities" (click)="selected(item.name)">
                        {{item.name}}
                    </ion-item>
                </ion-list>
            </ion-row>

            <div *ngIf="status.getValue() && submit.getValue() && f.activity.errors" class="invalid-feedback">
                <div *ngIf="f.activity.errors.required">
                    La spécialité est obligatoire
                </div>
            </div>

            <!-- Birthday input -->

            <ion-row *ngIf="!status.getValue()" class="ion-align-items-center ion-margin-bottom inputStyle">
                <ion-icon name="calendar-outline" size="default" fill="clear" color="primary" style="width: large; height: 1.5rem" class="ion-margin-start"></ion-icon>
                <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Date de naissance" formControlName="birthdate" class="text-primary" [ngClass]="{ 'is-invalid': submit.getValue() && f.birthdate.errors }"></ion-datetime>
            </ion-row>

            <div *ngIf="!status.getValue() && submit.getValue() && f.birthdate.errors" class="invalid-feedback">
                <div *ngIf="f.birthdate.errors.required">
                    La date de naissance est obligatoire
                </div>
            </div>

            <!-- Password input -->

            <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-input class="inputStyle text-primary" placeholder="Mot de passe" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submit.getValue() && f.password.errors }">
                    <ion-icon name="lock-closed-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>

            <div *ngIf="submit.getValue() && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                    Le mot de passe est obligatoire
                </div>
                <div *ngIf="f.password.errors.minlength">
                    Le mot de passe doit avoir au moins 8 caractères
                </div>
            </div>

            <!-- Confirmited password input -->

            <ion-row class="ion-align-items-center ion-margin-bottom">
                <ion-input class="inputStyle text-primary" placeholder="Confirmer le mot de passe" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submit.getValue() && f.confirmPassword.errors }">
                    <ion-icon name="lock-closed-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                    <ion-icon *ngIf="f.confirmPassword.valid" slot="end" name="checkmark-outline" class="checkmark"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">
                    La confirmation du mot de passe est obligatoire
                </div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">
                    Le mot de passe ne correspond pas
                </div>
            </div>
            <!-- Terms checked -->
            <ion-row class="ion-align-items-start ion-nowrap">
                <ion-col size="1">
                    <ion-checkbox formControlName="acceptTerms" mode="md"></ion-checkbox>
                </ion-col>
                <ion-col size="11" class="ion-no-padding ion-text-start ion-margin-left">
                    <ion-text class="text-primary medium" style="font-size: 12px">
                        {{' '}}J'accepte les conditions générales et la politique de confidentialité
                    </ion-text>
                </ion-col>
            </ion-row>
            <div *ngIf="submit.getValue() && f.acceptTerms.errors" class="invalid-feedback">
                <div *ngIf="f.acceptTerms.errors.required">
                    Veuillez accepter les termes
                </div>
            </div>

            <!-- Submit button  -->
            <ion-button size="large" expand="block" fill="solid" class="btn text-secondary" (click)="onSubmit()">
                <ion-spinner *ngIf="loading.getValue()" ng-hide="showing" class="spinner-energized">
                </ion-spinner>
                <h4 style="text-transform: uppercase">S'inscrire</h4>
            </ion-button>
    </form>
    <div
      *ngIf="error.getValue() && !submit.getValue() "
      class="invalid-feedback"
    >
      {{error.getValue()}}
    </div>

    <ion-grid>
      <ion-row
        class="
          ion-justify-content-center ion-align-items-center ion-margin-top
          text-secondary
        ">
                <h6>
                    <ion-text class="medium text-primary signup">
                        Avez-vous un compte ?</ion-text>
                    <ion-text class="primary-color text-secondary" (click)="goToLogin()">
                        Se connecter
                    </ion-text>
                </h6>
            </ion-row>
        </ion-grid>
    </ion-grid>
</ion-content>
