<ion-content>
  <ion-grid>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/setting"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-row class="ion-justify-content-center ion-margin" style="margin-top: 15px">
        <img src="assets/img/update.svg" alt="" width="auto" height="min" />
    </ion-row>
    <ion-text class="ion-text-center text-secondary primary-color">
        <h2>Modification</h2>
    </ion-text>
    <ion-row class="ion-justify-content-center ion-margin-horizontal">
        <ion-text class="ion-text-center medium pwdmsg">
            <p>Créer un nouveau mot de passe : votre nouveau mot de passe doit être 
                différent des mots de passe utilisés précédemment.</p>
        </ion-text>
    </ion-row>
    
    <form [formGroup]="newpwdForm"  name="newpwdForm" (submit)="onSubmit()" novalidate>
        <ion-row class="ion-align-items-center ion-margin-top ion-margin-horizontal">
            <ion-input type="password" class="inputStyle" placeholder="Ancien mot de passe" formControlName="oldPassword" >
                <ion-icon name="lock-closed-outline" style="width: large; height: 1.5rem" fill="clear" class="ion-margin" color="primary"></ion-icon>
            </ion-input>
        </ion-row>
        <div *ngIf="submit.getValue() && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">L'ancien mot de passe est obligatoire</div>
            <div *ngIf="f.oldPassword.errors.minlength">
                Le mot de passe doit avoir au moins 8 caractères</div>
        </div>
        <ion-row class="ion-align-items-center ion-margin-top ion-margin-horizontal">
          <ion-input type="password" class="inputStyle" placeholder="Nouveau mot de passe" formControlName="newPassword">
              <ion-icon name="lock-closed-outline" style="width: large; height: 1.5rem" fill="clear" class="ion-margin" color="primary"></ion-icon>
          </ion-input>
      </ion-row>
      <div *ngIf="submit.getValue() && f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.errors.required">Le nouveau mot de passe est obligatoire</div>
        <div *ngIf="f.newPassword.errors.minlength">
            Le mot de passe doit avoir au moins 8 caractères</div>
    </div>
      <ion-row class="ion-align-items-center ion-margin-top ion-margin-horizontal">
        <ion-input type="password" class=" inputStyle" placeholder="Confirmer votre mot de passe" formControlName="confirmPassword">
            <ion-icon name="lock-closed-outline" style="width: large; height: 1.5rem" fill="clear" class="ion-margin" color="primary"></ion-icon>  
            <ion-icon *ngIf="f.confirmPassword.valid"  name="checkmark-outline" class="checkmark ion-margin-end"></ion-icon>
        </ion-input>
         
    </ion-row>
    <div *ngIf="submit.getValue() && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">La confirmation du mot de passe est obligatoire</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
            Le mot de passe ne correspond pas</div>
    </div>

    <ion-button size="large" expand="block" fill="solid" class="btn text-secondary" (click)="onSubmit()">
        <ion-spinner *ngIf="loading.getValue()" ng-hide="showing" class="spinner-energized"></ion-spinner>
        <h4 style="color: white">MODIFIER</h4>
    </ion-button>
        <!--<p class="msgerror text-primary"> {{message}} </p>-->
    </form>
    
</ion-grid>
</ion-content>
