.form ion-item {
    border: 1px solid #ebf0ff;
    box-sizing: border-box;
    border-radius: 5px;
    & ion-input {
      height: 57px;
      width: auto;
    }
  }

.main_container {
    @media screen and (min-width: 768px) {
      max-width: 66.66vw !important;
    }
    @media screen and (max-width: 768px) {
      max-width: 80vw !important;
    }
  }

.invalid-feedback {
    font-size: 12px;
    text-align: left;
    color: #F44336;
    margin-left: 34px;
    margin-top: 5px;
}
ion-input{
    --placeholder-font-style:italic;
    --placeholder-font-weight:300;
    --font-weight: 500;
}
.checkmark{
    color: green;
    order: 1;
  }
  .pwdmsg{
    margin-left: 20px;
}
  