<ion-card class="card ion-margin-top">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-nowrap">
              <ion-col class="ion-text-start doctor_profile" size="10">
                <ion-avatar class="doctor_avatar ion-margin-end ion-align-items-center ion-justify-content-center">
                  <img [src]="list_consultations?.image"  alt="list consultation"/>
                </ion-avatar>
                <ion-text class="short_informations">
                  <h2 class="text-secondary ion-margin-top font_bold" [innerHTML]="list_consultations?.title"></h2>
                  <ion-text class="title text-primary" [innerHTML]="list_consultations?.problemDescription"></ion-text>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-avatar class="videocam ion-float-right">
                  <ion-icon name="videocam-outline" class="cam"></ion-icon>
                </ion-avatar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
      <ion-grid class="more_informations ion-margin-top">
        <ion-row class="text-secondary ion-align-items-center">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label class=" text-secondary ion-margin-end" [innerHTML]="'&nbsp;'+list_consultations?.date"></ion-label>
            <ion-icon name="time-outline"></ion-icon>
            <ion-label class="ion-margin-end" [innerHTML]="'&nbsp;'+list_consultations?.hours"></ion-label>
            <ion-avatar class="confirm"></ion-avatar>
            <ion-label [innerHTML]="'&nbsp;'+list_consultations?.status"> </ion-label>
        </ion-row>
      </ion-grid>
    </ion-card-content>
</ion-card>
