.videocam {
  width: 40px !important;
  height: 40px !important;
  background: #0047cb;
  display:flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: auto;
  background: #ffffff;
  border: 1px solid #d9e3ff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: none;
  & .doctor_profile{
    display: flex;
    & .doctor_avatar{
      background: #ccc;
      width: 57px;
      height: 57px;
    }
    & ion-label{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      & h2{
        font-size: 20px;
        word-spacing: 2px;
        color: #464555;
        letter-spacing: 0;
      }
      & .title{
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.0025em;
        color: rgba(33, 33, 33, 0.5);
      }
    }
  }
}
.cam {
  width: 20px !important;
  height: 20px !important;
}
.more_informations {
  height: 36px;
  margin-right: 0px !important;
  background: #d9e3ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  & ion-label{
    font-size: 12px;
    font-weight: bold;
  }
  & ion-icon{
    color: #0047CB;
  }
}
.confirm {
  position: static;
  width: 6px;
  height: 6px;
  left: 0px;
  top: 4.5px;
  background: #82d616;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}
.main_container {
  @media screen and (min-width: 768px) {
    min-width: 66.66vw !important;
  }
}