$s-small :12px;
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
#container a {
  text-decoration: none;
}
.main_container{
  padding: 24px 16px;
  & h1,h2,h3,h4,h5,h6{
    color: rgba(33, 33, 33, 0.85);
  }
  & h2{
    font-size: 14px;
    line-height: 7px;
    color: rgba(33, 33, 33, 0.5);
    letter-spacing: 0px;
  }
  & .welcome{
    font-size: $s-small;
    color: #AAA9BC;
  }
  & .user_name{
    font-size: 20px;
    color: #464555;
  }
  & .user_profile{
    position: relative;
    & .online{
      height: 8px;
      position: absolute;
      right: 10px;
      top: 15px;
      color: #F53939;
    }
    & .user_avatar{
      width: 46px;
      height: 46px;
      border: solid rgba(46, 170, 234, 0.1);
    }
  }
  @media screen and (min-width : 768px) {
    max-width: 66.66vw !important;
    margin: auto;
  }
  & ion-searchbar{
    --background: rgba(52, 185, 252, 0.1);
    background-color: rgba(46, 170, 234, 0.1);
    height : 40px;
    padding:5px 2px;
    & .search_icon{
      position: absolute;
      margin:-5px 0 0 10px;
    }
  }
  & .title{
    & ion-col{
      display: flex;
      align-items: center;
      &:last-child{
        justify-content: end;
      }
    }
  }
  & .specialties{
    & ion-grid.specialties_descriptions{
      max-width: 100vw;
      overflow-x: auto;
      color: #AAA9BC;
      font-size: $s-small;
      &::-webkit-scrollbar{
        background-color: transparent;
      }
      & ion-row{
        width: max-width;
        & ion-col{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          border-radius: 5px;
          background-color: rgba(46, 170, 234, 0.1);
          & ion-label{
            width: 95px;
          }
        }
      }
    }
  }
  & ion-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    &.doctor_avatar{
      background-color: silver;
      height: 57px;
      width: 57px;
      float: left;
    }
  }
  & .meetings_descriptions{
    &, & ion-slide{
      height: 200px;
    }
    & .swiper-wrapper{
      background-color: red;
    }
  & ion-slide{
      
      // &::after,&::before{
      //   content: "";
      //   display: block;
      //   width: 80%;
      //   background-color: #C6D4FF;
      //   border-radius: 5px;
      //   z-index: -1;
      // }
      // &::after{
      //   margin-top: -10px;
      //   background-color: rgba(46, 170, 234, 0.15);
      //   width: 60%;
      //   height: 15px;
      // }
      // &::before{
      //   position: absolute;
      //   height : 20px;
      //   bottom: 20px;
      //   z-index: -2;
      // }
      // &.red{
      //   background-color: red;
      // }
      // &.animate{
      //   animation: pulse-animation 2s;
      // }
      // @keyframes pulse-animation {
      //   0% {
      //     box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      //   }
      //   100% {
      //     box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
      //   }
      // }
    }
  }
}

.specialities_bloc{
  width: 100px; 
  height: 100px; 
  text-align: center;
}