<ion-content class="homepage">
    <!-- <app-consultations [item]="myslides"></app-consultations> -->
    <ion-grid>
        <ion-row>
            <ion-col class="main_container">
                <!--User information-->
                <ion-header class="ion-no-border">
                    <ion-grid>
                        <ion-row class="ion-justify-content-between ion-nowrap">
                            <ion-col size="8">
                                <ion-text class="text-secondary welcome">Bienvenue</ion-text>
                                <ion-text class="text-secondary">
                                    <h1 class="ion-no-margin user_name">{{firstname}} {{lastname}}</h1>
                                </ion-text>
                            </ion-col>
                            <ion-col>
                                <ion-item class="ion-float-right user_profile" lines="none">
                                    <ion-avatar class="user_avatar">
                                        <img src="../../assets/img/azerty.png" title="Donald Smith" alt="photo de profil" />
                                    </ion-avatar>
                                    <!-- <ion-icon name="ellipse" class="online"></ion-icon> -->
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-header>
                <ion-searchbar [(ngModel)] = "searchTerm" class="search_bar text-primary ion-margin-top" placeholder="Rechercher un médecin">
                    <img src="../../assets/img/home/search.svg" alt="" class="search_icon" title="Rechercher un médecin" />
                </ion-searchbar>
                <!--Spécialités-->
                <section class="text-primary ion-margin-top specialties">
                    <ion-grid class="title">
                        <ion-row class="ion-align-items-center text-secondary">
                            <ion-col size="9" class="ion-align-items">
                                <ion-text>
                                    <h2 class="ion-no-margin">Choisissez une spécialité</h2>
                                </ion-text>
                            </ion-col>
                            <ion-col>
                                <ion-text class="s_small text-secondary font_extrabold ion-float-right" (click)="gotoSpecialities()">
                                    <a>Voir tout</a>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid lines="none" class="specialties_descriptions">
                        <ion-row class="ion-nowrap">
                            <ion-col *ngFor="let item of items | filter:searchTerm" class="ion-margin-end ion-padding-top">
                                <app-speciality [item]="item" (click)="setSpecialities(item)" class="specialities_bloc"></app-speciality>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </section>
                <!-- Meetings -->
                <ion-grid class="title ion-margin-top" *ngIf="list.length>0">
                    <ion-row class="ion-align-items-center text-secondary">
                        <ion-col size="9">
                            <ion-text>
                                <h2 class="ion-no-margin">Mes rendez-vous</h2>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="s_small text-secondary font_extrabold ion-float-right">
                                <a (click)="goToMeetings()">Voir tout</a>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-slides [options]="slideOpts" class="meetings_descriptions" *ngIf="list.length>0">
                    <ion-slide *ngFor="let item of list | filter:searchTerm">
                        <app-consultations [item]="item"></app-consultations>
                    </ion-slide>
                </ion-slides>
                <!--- Choose your doctor -->
                <ion-grid class="title ion-margin-bottom">
                    <ion-row class="ion-align-items-center text-secondary">
                        <ion-col size="9">
                            <ion-text>
                                <h2 class="ion-no-margin">Choisissez un médecin</h2>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="s_small text-secondary font_extrabold ion-float-right" (click)="goToAlldoctors()">
                                <a>Voir tout</a>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid *ngFor="let doctor of doctors_list | filter:searchTerm">
                    <app-doctors (click)="gotoDetails(doctor)" [item]="doctor"></app-doctors>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
