<ion-col class="">
  <button expand="full" fill="outline" class="color" [ngClass]="{ ClickColor: show() }" (click)="setItem()">
    <span [innerHTML]="item?.name" class="text-primary on-text-nowrap"></span>
  </button>
</ion-col>


