.color{
    position: static;
    min-width: 70px;
    height: 33px;
    left: 0px;
    top: 0px;
    background-color: white;
    border-radius: 62px;
    border: 1px solid #FF3FB0;
    
    & span{
    font-style: normal;
    font-weight: 500;
    // font-size: 14px !important;
    // line-height: 16px !important;
    // letter-spacing: 0.001em;
    // position: relative;
    color: 464555;
    top: 0px;
    }
}

.ClickColor{
    background-color: #FF3FB0 !important; 
    & span{
        color: white !important;
    }
  }
