<ion-content class="content" [scrollEvents]="false">
    <ion-slides mode="md" pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged($event)" #slideblock>
        <ion-slide *ngFor="let slide of slides">
            <div>
                <div class="col s12">
                    <ion-img [src]="slide.image" class="circle responsive-img" alt="tutoriel"></ion-img>
                </div>
                <div>
                    <h3 [innerHTML]="slide.title" class="text-secondary" style="color: white"></h3>
                </div>
                <div class="col s12">
                    <div [innerHTML]="slide.description" class="flow-text slide-desc text-primary" style="
              color: white;
              text-align: justify;
              margin: 12px;
              font-size: 16px;
              letter-spacing: 0.25px;
            "></div>
                </div>
                <div class="col s12">&nbsp;</div>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-grid>
        <ion-row *ngIf="currentIndex !== 2">
            <ion-col size="10" class="ion-align-items-start text-secondary ">
                <ion-button fill="outline" color="light" [routerLink]="['/login']" (click)="start()">Passer</ion-button>
            </ion-col>
            <ion-col size="2" class="ion-align-self-end">
                <ion-button fill="clear" class="nextbtn" (click)="next($event)">
                    <ion-icon name="chevron-forward" size="large" color="light"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-col *ngIf="currentIndex === 2">
            <ion-button size="large" expand="block" fill="solid" class="btnstart btn text-secondary ion-margin ion-padding" (click)="start()" [routerLink]="['/login']">
                <h4 class="primary-color">DEBUTER</h4>
            </ion-button>
        </ion-col>
    </ion-grid>
</ion-content>