.content{
    --ion-background-color: #0047CB;
}

.nextbtn{
    background: #ffffff3b;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    box-shadow: 0px 10px 30px 0px #4071ff1a;
}
.btnstart{
    --background: white;
}