<!-- <ion-button [color]="show ? 'primary' : 'contrast'" (click)="setColor()" class="button">
  <ion-text>{{ heurrdv }}</ion-text>
</ion-button> -->

<ion-button [color]="show_color() ? 'primary' : 'contrast'" (click)="show_color()"  class="button">
  <ion-text>{{ heurrdv }}</ion-text>
</ion-button>