.back_button{
  color: #212121;
  font-size: 30px;
}

.specialitiespage{
    margin-left: 100px;
}

h4{
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
    /* identical to box height, or 0% */

    letter-spacing: -0.03333em;

    color: #000000;
}

ion-searchbar{
    --background: rgba(52, 185, 252, 0.1);
    background-color: rgba(46, 170, 234, 0.1);
    padding:2px;
    & .search_icon{
      position: absolute;
      margin:-5px 0 0 10px;
    }
  }
