<ion-content class="specialitiespage">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  
      <ion-row>
        <ion-col size="12">
          <h4 class="text-secondary ion-text-left secondary ion-margin-top" style="margin-bottom: 20px;">
          <ion-text>Toutes les spécialités</ion-text>
          </h4>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-searchbar class="search_bar text-primary" placeholder="Rechercher une spécialité" [(ngModel)] = "searchTerm" >
            <img src="../../assets/img/home/search.svg" alt="" class="search_icon" title="Rechercher une spécialité" />
          </ion-searchbar>
        </ion-col>
      </ion-row>  
      
      <ion-col class="ion-text-center" style="display: flex;flex-wrap: wrap; justify-content: space-between;"> 
        <div *ngFor="let item of items | filter:searchTerm"
               style="width: 110px; height: 110px; margin-top: 25px; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
            border-radius: 15px;">
            <a style="text-decoration: none; color: #212121;"> 
              <app-speciality [item] = "item" (click)="setSpecialities(item)"></app-speciality>
            </a>
        </div>
      </ion-col>
    </ion-col>  
  </ion-row>   
</ion-content>


