                        /*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$primary-color: #0047CB;
$secondary: #242e3f;
$medium-color: rgba(33,33,33,0.85);
.secondary {
    color: $secondary;
}
.medium {
    color: $medium-color;
}
.primary-color {
    color: $primary-color;
}
$text-primary: "Roboto",sans-serif;
$text-primary-light: "Roboto-light",sans-serif;
$text-secondary: "Inter",sans-serif;
.text-primary {
    font-family: $text-primary;
}
.text-secondary {
    font-family: $text-secondary;
}
.s_small {
    font-size: 12px;
}
.xs_small {
    font-size: 11px;
}
h1,h2,h3,h4,h5,H6 {
    font-family: $text-secondary;
}
.font_bold {
    font-weight: bold;
}
.font_extrabold {
    font-weight: bolder;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: -2.22px;
}
h4 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.25px;
}
p {
    letter-spacing: 0.25px;
}
.btn {
    --background: #0047CB;
    height: 57px;
    margin-left: 20px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 0px;
    --border-radius: 5px !important;
}
.homepage, .specialitiespage {
    & .search_bar {
        & ion-icon.searchbar-search-icon.sc-ion-searchbar-md.md.hydrated,
        & ion-icon.searchbar-search-icon.sc-ion-searchbar-ios.ios.hydrated {
            display: none;
        }
        & input.searchbar-input.sc-ion-searchbar-md,
        & input.searchbar-input.sc-ion-searchbar-ios {
            padding-left: 50px;
            font-size: 12px;
            letter-spacing: 0.004em;
            color: rgba(33, 33, 33, 0.6);
            box-shadow: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            background-color: transparent;
        }
    }
}
.homepage{
    & .meetings_descriptions{
        &, & ion-slide{
          height: 200px;
        }
        & .swiper-wrapper{
          & ion-slide{
            & app-consultations{
                width: 100%;
                position: relative;
                & .card{
                    background: #0047CB;
                    & .videocam{
                        background-color: #fff;
                        & .cam{
                            color:#ccc;
                        }
                    }
                    & .short_informations{
                        & h2{
                            color: #fff;
                            letter-spacing: 0;
                            & + ion-text{
                                color: rgba(255, 255, 255, 0.74);
                            }
                        }
                    }
                    & .more_informations{
                        background: rgba(255, 255, 255, 0.2);
                        color: rgba(255, 255, 255, 0.7);
                        & ion-icon{
                            color: #fff;
                        }
                    }

                }
            }
          }
        }
    }
}
.homepage,.populardoctor {
    & a {
        color: #0047CB;
        text-decoration: none !important;
    }
    
    .pwdpopover .popover-content.sc-ion-popover-md {
        position: inherit !important;
        width: 95vw !important;
        //min-height: 50vh !important;
    }
    .datetime-text {
        font-style: italic;
        font-weight: 300;
    }
}
.ValidateButoons{
    height: 57px;
    background-color: #0047CB;
    border-radius: 5px;
    margin-left: 25px;
}
.inputStyle{
      height: 57px;
      border: gainsboro solid 1px;
      border-radius: 5px;
}
.inputStyle:hover{
    border: solid 1px #0047CB;
}