<ion-content>
    <ion-grid>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="login"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>

        <ion-row class="ion-justify-content-center">
            <img src="assets/img/Asset 3.svg" alt="" width="100" height="100" class="ion-margin-top" />
        </ion-row>
        <ion-text class="ion-text-center text-secondary primary-color">
            <h2>Réinitialisation</h2>
        </ion-text>
        <ion-row class="ion-justify-content-center ion-margin-horizontal">
            <ion-text class="ion-text-center medium pwdmsg">
                <p style="font-size: 14px;">Réinitialisation du mot de passe : saisissez l'adresse électronique associée à votre 
                    compte et nous vous enverrons un courriel contenant les 
                    instructions pour réinitialiser votre mot de passe. </p>
            </ion-text>
        </ion-row>

        <form [formGroup]="pwdforgetForm" name="pwdforgetForm" novalidate class="ion-padding">
            <ion-row class="ion-align-items-center ion-margin-horizontal">
                <ion-input type="text" class="ion-padding localisation" placeholder="Votre email" formControlName="email">
                    <ion-icon name="mail-outline" size="default" fill="clear" class="ion-margin" color="primary" style="width: large; height: 1.5rem"></ion-icon>
                </ion-input>
            </ion-row>
            <div *ngIf="submit.getValue() && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="text-primary">
                    Aucun email n'a été saisi
                </div>
            </div>
            <ion-button size="large" expand="block" fill="solid" class="btn text-secondary ion-margin" (click)="onSubmit($event)">
                <ion-spinner *ngIf="loading.getValue()" ng-hide="showing" class="spinner-energized"></ion-spinner>
                <h4 style="color: white">SOUMETTRE</h4>
            </ion-button>
        </form>
        
    </ion-grid>
</ion-content>