.localisation{
    margin-bottom: 0px;
    border:solid gainsboro 1px; 
    margin-top: 0px; 
    border-radius: 5px;
    height: 57px;
    
}
.localisation:hover{
    border:solid #3171e0 1px; 
    
}
.btnConnexion{
    height: 87px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.invalid-feedback{
    font-size: 12px;
    text-align: left;
    color: #F44336;
    margin-left: 34px;
    margin-top: 5px;
}
.pwdmsg{
    margin-left: 20px;
}