<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-toolbar class="ion-no-margin">
          <ion-buttons slot="start" (click)="gotoBack()" class="secondary">
            <ion-icon name="arrow-back-outline" class="back_button ion-margin-vertical"></ion-icon>

              <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
        <div>
          <ion-grid>
            <ion-row class="text-secondary ion-text-start secondary ion-margin-left">
              <h4 style="font-size: 24px;">
                <ion-text>Prise de rendez-vous</ion-text>
              </h4>
              <p class="subtitle">
                <ion-text class="ion-wrap text-primar textSubtitlte" >Suivez toutes les instructions pour valider votre prise de rendez-vous</ion-text>
              </p>
            </ion-row>
          </ion-grid>
        </div> 
        <form>
          <ion-grid class="form">
            <div>
              <ion-grid *ngIf="showDomaine">
                <ion-row>
                  <ion-col>
                    <ion-label class="text-primary">Specialite</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="div-border">


                    <ion-select [(ngModel)]="domaneChoice" [ngModelOptions]="{standalone: true}"  class="input-field text-secondary date" placeholder="Sélectionner le domaine" (ionChange)="setDomaine()">
                      <ion-select-option *ngFor="let item of domaine"  value="{{item.id}}">{{item.name}}</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="text-primary">Motif du rendez-vous</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="div-border">
                    <!-- <ion-input class="input-field border text-secondary" [(ngModel)]="problemDescription" [ngModelOptions]="{standalone: true}" (ionChange)="setMotif()" type="text-area"></ion-input> -->
                    <ion-textarea class="input-field inputTextarea border text-secondary" [(ngModel)]="problemDescription" [ngModelOptions]="{standalone: true}" (ionChange)="setMotif()" type="text-area"></ion-textarea>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="text-primary">Date du rendez-vous</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input class="input-field text-secondary date" type="date"  [min]="today" max="2050-12-31" [(ngModel)]="datechoice" [ngModelOptions]="{standalone: true}" (ionChange)="setDate()" ></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <!-- <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="text-primary">Date de la consultation</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    
                        
                 </ion-col>
                </ion-row>
              </ion-grid> -->
              <ion-col size="10" class="ColEmptyRdv">

                <ion-text *ngIf="doctoDispo" class="invalid-feedback">Pas de Docteur disponible pour cette date</ion-text>
      
              </ion-col>
              <ion-grid *ngIf="usedoctor">
                      <ion-row>
                        <ion-col>
                          <ion-label class="text-primary">Docteur</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-input class="input-field text-secondary date" [value]="doctorNAME" [disabled]="true" type="texte"   placeholder="Cliquer pour sélectionner le docteur" (click)="setDoctor()"></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row class="scrolle">
                        <ion-col *ngIf="showDoctor">
                          <div  *ngFor="let item of doctor">
                            <app-doctor-search [item]="item" (click)="setClandarid(item)" ></app-doctor-search>
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- <ion-row>
                        <ion-input class="input-field text-secondary date" type="text">{{hoursChoice}}</ion-input>
                      </ion-row> -->
                </ion-grid>


                <ion-grid *ngIf="showHoraire">
                <ion-row>
                  <ion-col>
                    <ion-label class="text-primary">Tranche horaire souhaitée</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="colTime"style="">
                    <div  *ngFor="let item of meetingHS; let i=index" style="border-radius: 5px;">
                      <app-appointment-hours   [item]="item" [selected]="selected" (click)="setTime(item,i)"></app-appointment-hours>
                    </div>
                  </ion-col>
                </ion-row>
                <!-- <ion-row>
                  <ion-input class="input-field text-secondary date" type="text">{{hoursChoice}}</ion-input>
                </ion-row> -->
              </ion-grid>

              <ion-grid class=" ColEmptyRdv ion-justify-content-center">
                <ion-row class="ColEmptyRdv">
                  <ion-col size="10" >
      
                    <ion-text *ngIf="empty" class="emptyRdv">Aucun rendez-vous n'est disponible pour cette date</ion-text>
                    <!-- <ion-button size="large" expand="block" fill="solid" class="btn text-secondary ion-margin ion-padding" (click)="onSubmit()">
                      <ion-spinner  *ngIf="loading.getValue()" ng-hide="showing" class="spinner-energized"></ion-spinner>
                      <h4 style="color: white">VALIDER</h4>
                    </ion-button> -->
                    <!-- <ion-text (click)= "onSubmit()" class="reserve_meeting ion-padding ion-text-center ion-margin">
                      Valider
                    </ion-text> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
              
        
            </div>
          </ion-grid>
          
        </form>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <!-- <ion-button size="large" expand="block" fill="solid" class="btn text-secondary ion-margin ion-padding" (click)="onSubmit()"> -->
    <!-- <ion-text class="reserve_meeting ion-padding ion-text-center ion-margin text-secondary">
      VALIDER
    </ion-text> -->
  <!-- </ion-button> -->


  <!-- <ion-button size="large" expand="block" fill="solid" class="btn" style="
  background-color: inherit;
" (click)="onSubmit()">
    <ion-spinner  *ngIf="loading.getValue()" ng-hide="showing" class="spinner-energized"></ion-spinner>
    <h4 style="color: white">VALIDER</h4>
  </ion-button> -->
  <ion-button [disabled]="problemDescription ===''||datechoice===''||calandar_id===0" class="ValidateButoons btn" color="#0047CB" >
    <ion-text (click)= "onSubmit()" class="reserve_meeting ion-text-center ">
      Valider
    </ion-text>
    
  </ion-button>
  <!-- <ion-text (click)= "onSubmit()" class="reserve_meeting ion-padding ion-text-center ion-margin">
    Valider
  </ion-text>
   -->
</ion-footer>
