
.form{
    ion-label{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1px;
        color: #9098B1;
    }
    & 
    ion-input{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        //line-height: 2px;
        color: rgba(33, 33, 33, 0.9);
        &.border{
            border: 2px solid #EBF0FF;
            border-radius: 5px;
            height: 116px;
        }
    }
}
.form{
    ion-input{
        &.border:hover{
            border: solid #3171e0 1px;
        }
    }
}
.date{
    height: 57px;
    border: 2px solid #EBF0FF;
    border-radius: 5px;
}
.date:hover{
    border: solid #3171e0 1px;
}
.btn{
    margin-left: 10px;
}
.subtitle{
    margin-top: 0px;
}
.textSubtitlte{
    font-size: 12px;
    color: rgba(33, 33, 33, 0.85);
}

.hourClickColor{
    background-color: #3171e0 !important;
}

.inputTextarea{
    //border: solid 1px black;
    border: 2px solid #EBF0FF;
    border-radius: 5px;
    height: 117px;
}

.reserve_meeting{
    width: 80vw;
    margin: auto;
    background-color: #0047CB;
    display: block;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    //box-shadow: 0px 10px 30px rgba(64, 113, 255, 0.1);

}

.btn{
    background-color: #0047CB !important;
    padding-top: 7px;
    padding-bottom: 8px;

}



.ColEmplyRdv{
    margin-left: 10%;
    text-align: center;
}

.invalid-feedback {
    font-size: 12px;
    text-align: left;
    color: #F44336;
    margin-left: 5px;
    margin-top: 5px;
}

ion-col.ColEmptyRdv.md.hydrated {
    text-align: center;
    margin-left: 10%;
}
.scrolle{
        overflow-y: auto;
        height: 10em;

}