<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="text-primary">Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="folders">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label class="text-primary">Mon dossier</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="meetings" [ngClass]="{'isActive': show}" (click)="setColor()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label class="text-primary">Rendez-vous</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class="text-primary">Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>