/* .accueil {
    color : "Black";
}

.accueil.active {
    color: #0047CB;
    font-weight: bold;
}

.meetings {
    color : "Black";
}

.meetings.active {
    color: #0047CB;
    font-weight: bold;
} */

.isActive {
    color: #0047CB;
    font-weight: bold;
}