<ion-grid class="populardoctor">
    <ion-row>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="9">
                    <ion-text>
                        <h2>Médecin populaire</h2>
                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text class="s_small text-secondary font_extrabold ion-float-right">
                        <a href="">Voir tout</a>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-row>
    <ion-row>
        <ion-list class="medecins_popular">
            <a (click)="goDetail()" title="Cliquez pour consulter le profil" *ngFor="let medecins of medecins_popular">
                <ion-item class="ion-margin" lines="none">
                    <ion-thumbnail slot="start">
                        <img [src]="medecins.image" alt="doctor picture " />
                    </ion-thumbnail>
                    <ion-grid>
                        <ion-row>
                            <ion-text>
                                <h3 class="ion-no-margin" [innerHTML]="medecins.name"></h3>
                            </ion-text>
                        </ion-row>
                        <ion-row>
                            <ion-text class="s_small text-primary" [innerHTML]="medecins.profession"></ion-text>
                        </ion-row>
                        <ion-row class="ion-align-items-center">
                            <ion-icon name="star"></ion-icon>
                            <ion-text class="xs_small text-primary" [innerHTML]="'&nbsp;'+medecins.rate + '&nbsp;&nbsp;.&nbsp;&nbsp;'+ medecins.comments +
                '&nbsp;commentaires'">
                            </ion-text>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </a>
        </ion-list>
    </ion-row>
</ion-grid>
