h1,h2,h3,h4,h5,h6{
    color: rgba(33, 33, 33, 0.85);
}
h2{
    font-size: 16px;
}
a {
    text-decoration: none;
}
.populardoctor{
    overflow: auto;
    width: 100%;
}
.medecins_popular{
    width: 100%;
    & ion-item{
        box-shadow: 0px 5px 27px rgba(46, 170, 234, 0.1);
        border-radius: 5px;
        color: rgba(33, 33, 33, 0.85);
        & h3{
            font-size: 16px;
        }
        &:last-child{
            margin-bottom: 0 !important;
        }
        & ion-row{
            margin-bottom: 7px;
        }
        & ion-thumbnail{
            height: 63px;
            width: 63px;
        }
    }
}